:root {
  --primaryTextColor: #333333;
  --secondaryTextColor: #ffffff;
  --accentColor: #28a745;
  --hoverColor: #2ebf4f;
  --backgroundColor: #b3b3b3;
  --backgroundAccentColor: #0284d0;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
